@model IEnumerable<BeerEntity>

    @{
    ViewData["Title"] = "Neipa's";
}

<div class="container">
    <h1 class="mt-4">Neipa</h1>
    <p>Step into the hazy and aromatic world of NEIPA (New England IPA), a beer style that has taken the craft beer scene by storm.
        NEIPA is renowned for its cloudy appearance, juicy flavors, and tropical hop-forward profile, creating a sensory adventure like no other.
        At Bryggrens, we are passionate about pushing the boundaries of flavor and embracing the innovative spirit of NEIPA. 
        Our NEIPAs are characterized by their hazy, unfiltered appearance, which results from the generous use of hops and specialty malts.
        This combination creates a velvety smooth mouthfeel and a luscious body that sets NEIPA apart.
        Our NEIPAs burst with tropical and citrusy hop aromas that evoke visions of sun-drenched paradise. 
        Expect bold flavors of juicy tropical fruits, such as mango, pineapple, and passionfruit, 
        balanced with a subtle sweetness and a soft bitterness. The result is a beer that is both refreshingly vibrant and irresistibly smooth.
    </p>

    <partial name="/Views/Partials/_Neipa.cshtml" />
</div>