@model IEnumerable<BeerEntity>

@{
    ViewData["Title"] = "Sour Beers";
}

<div class="container">
    <h1 class="mt-4">Sour Beers</h1>
    <p class="mt-3">
        Bryggrens is a brewery driven by a passion for crafting exceptional beers and pushing the boundaries of flavor.
        At the heart of their brewing mission is the art of sour beer.
        Sour beer is a captivating style that Bryggrens has fully embraced. Through intentional exposure to wild yeast and bacteria,
        they create brews that tantalize the taste buds with their tart and refreshing flavors. From subtly nuanced to boldly acidic,
        their range of sour beers offers a spectrum of taste experiences.
        Bryggrens takes pride in their commitment to quality, they apply meticulous attention to detail in their brewing process.
        Every sip of their sour beers delivers a winning taste that showcases their unwavering dedication to excellence.
    </p>

    <partial name="/Views/Partials/_Sour.cshtml" />
</div>