<section class="beer-selection">
    <div class="container">
        <h2>Our Beer Selection</h2>


        <div class="beer-list">
            <a class="beer-item" asp-controller="Category" asp-action="Neipa">
                <img src="/images/neipa.jpg" alt="Beer 1">
                <h3>NEIPA Beer</h3>
                <p>A hazy and juicy IPA with tropical hop flavors and a smooth mouthfeel.</p>
            </a>
            <a class="beer-item" asp-controller="Category" asp-action="Sour">
                <img src="/images/sour-beers.jpg" alt="Beer 2">
                <h3>Sour Beer</h3>
                <p>A tart and refreshing beer with a tangy, acidic flavor profile and hints of fruit or funkiness.</p>

            </a>
            <a class="beer-item" asp-controller="Category" asp-action="PaleAle">
                <img src="/images/paleale.jpg" alt="Beer 3">
                <h3>Pale Ale</h3>
                <p>A balanced and hop-forward beer with a crisp and malty profile, showcasing citrusy or floral hop flavors.</p>
            </a>
            <!-- Add more beer items with different categories -->
        </div>

        <h5>Not sure what you are looking for specifically? <a asp-controller="Category" asp-action="Beers">Click here to show all our beers</a></h5>
    </div>
</section>