<section class="beer-carousel">
    <div class="container">
        <div class="carousel-header">
            <h1 class="carousel-title">Discover the Bryggrens Experience: Where Adventure Meets Exceptional Beer</h1>
            <p class="carousel-description">Embark on an adventure through our handcrafted collection of artisanal craft beers. Immerse yourself in a world of unique flavors, hoppy delights, and refreshing brews. Discover the perfect brew to satisfy your taste buds and elevate your beer experience. Cheers to a journey of exceptional craftsmanship and the art of brewing!</p>
        </div>
        <div class="carousel">
            <button class="carousel-prev slick-prev"><i class="fas fa-chevron-left"></i></button>
            <div class="carousel-items">
                <div class="carousel-item">
                    <img src="/images/sour-beers.jpg" alt="Banner 1">
                </div>
                <div class="carousel-item">
                    <img src="/images/sour-beers.jpg" alt="Banner 2">
                </div>
                <div class="carousel-item">
                    <img src="/images/sour-beers.jpg" alt="Banner 3">
                </div>
                <!-- Add more carousel items with different banners -->
            </div>
            <button class="carousel-next slick-next"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>


