<div id="popup-box" class="hidden">
    <div class="popup-content">
        <h2>WOO WOO WOO</h2>
        <p>Be sure to check out our events! There could be one near you!</p>
        <a class="btn-everton" asp-controller="Events" asp-action="Index">Check Out Our Events!</a>       
    </div>
</div>