<section class="showcase">
    
        <div class="video-showcase">
        <video id="showcaseVideo" src="/images/videos/_videoshowcase.mp4" autoplay muted controls loop></video>
        </div>
    
</section>
